{% extends "app/layouts/base_form.html" %}
{% block article_stats %}
    <p class="text-center">Article with {{ article.word_count}} word{{ article.word_count | pluralize}}</p>
    <p>Last edited on <span class="font-bold">{{ article.updated_at | date:"jS F Y" }}</span>
{% endblock article_stats%}
    

{% block buttons %}
    <div class="flex justify-end mb-10 gap-4">
        <button type="submit" class="button primary">Save</button>
        <a href="{% url 'delete_article' article.id %}" class="button danger">Delete article</a>
    </div>
{% endblock buttons %}
