{% extends "base.html" %}

{% block head_title %}Delete article{% endblock head_title %}

{% block base_content %}
<main class="max-w-2xl mx-auto flex flex-col items-center mt-10">
    <h1 class="subtitle">Delete Article</h1>
    <p class="text-lg mb-6">Are you sure you want to delete "{{article.title }}"?</p>
    <form method="POST" class="flex items-center gap-4" action="{% url "delete_article" article.id %}">
        {% csrf_token %}
        <button class="button danger" type="submit">
            {% include "svgs/icon-trash.svg" with class="inline-block w-4 h-4 mr-2 mt-[-2px]" %}Yes, delete it
        </button>
    <a class="button secondary" href="{% url "update_article" article.id %}">
        {% include "svgs/icon-arrow-left.svg" with class="inline-block w-6 h-6 mr-1 mt-[-2px]" %}No, take me back
    </a>
    </form>
</main>
{% endblock base_content %} 