{% extends "app/base.html" %}

<body>
    {% block content %}
    <h1>Articles</h1>

    <a href="{% url 'create_article' %}">Create article</a>

    {% if articles%}
    <ul>
        {% for article in articles %}
        <li><a href="{% url 'update_article' article.id %}">{{ article.title }}</a> with {{ article.word_count }} word{{ article.word_count | pluralize}}.</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>You have no articles at this point.</p>
    {% endif %}
    {% endblock content %}
