{% extends "base.html" %}
{% load humanize %}

{% block head_title %}Articles{% endblock head_title %}

<body>
    {% block base_content %}
    <main class="max-w-7xl mx-auto mt-10 p-2 md:p-4 lg:p-10">
        <h1 class="title mb-4">Welcome to the Camberley Repair Cafe</h1>

        <p class="text-xl mb-4">We have {{ articles| length }} 
            article{{ articles| length | pluralize }} available<p>

        <h2 class="subtitle mb-6">Here are the latest published articles</h2>

        <form method="GET" class="flex flex-col max-w-xl sm:flex-row gap-3 form-field mb-4">
            <input type="search" name="search" placeholder="Search article titles"
                value="{{ request.GET.search }}"
                class="text-black shadow-sm focus:ring-sky-500 focus:border-sky-500 sm:text-sm rounded-md"
                hx-get="{% url 'home' %}"
                hx-trigger="input changed delay:500ms, search"
                hx-target="#article-results"
                hx-select="#article-results"
                hx-indicator="svg.loading"
                hx-disabled-elt="next button"
                hx-push-url="true">
            <button type="submit" class="flex gap-1 button secondary items-center [&>.loading.htmx-request.hidden]:!inline-block [&>.loading.htmx-request]:hidden disabled:cursor-not-allowed disabled:opacity-50">
                {% include "svgs/magnifier.svg" with class="loading w-4 h-4 mr-2" %}
                {% include "svgs/loading-indicator.svg" with class="loading w-4 h-4 mr-2 hidden animate-spin" %}
                Search
            </button>
            <a href="{% url 'home' %}" class="button secondary text-center">Clear&nbspsearch</a>
        </form>

        <div id="article-results">
            {% if articles%}
            <ul>
                {% for article in articles %}
                    <li>
                        <hr>
                        <a 
                        class="text-2xl flex items-center text-sky-600 hover:underline" 
                        href="{% url 'article_detail' article.id %}">
                        {{ article.title }}
                        </a>
                        <p class="text-sm text-gray-600">Updated on {{ article.updated_at }}.  |  Written by {{ article.creator.first_name }} {{ article.creator.last_name }}</p>
                    </li>
                {% endfor %}
                <hr>
            </ul>
            <div class="flex flex-row items-center mt-4">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                    <a class = "mx-2" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                        {% include "svgs/chevron-left.svg" with class="h-7 w-7 border border-black rounded-md p-1" %}
                    </a>
                    {% endif %}
                    <span>Page {{ page_obj.number }} of {{ paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                    <a class = "mx-2" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                        {% include "svgs/chevron-right.svg" with class="h-7 w-7 border border-black rounded-md p-1" %}
                    </a>
                    {% endif %}
                {% endif %}
            </div>
            {% else %}
                <p>There are no articles to show</p>
            {% endif %}
        </div>
    </main>
    {% endblock base_content %}
