{% extends "base.html" %}
{% load allauth %}
{% load widget_tweaks %}

{% block head_title %}Sign up{% endblock head_title %}

{% block base_content %}
<main class="max-w-7xl mx-auto mt-10 lg:mt-20">
    <div class="flex flex-col items-center space-y-6 lg:flex-row lg:items-start"> <!-- Column on small screen - row on larger one-->
        <div class="basis-3/5 lg:mt-10">
            <h1 class="text-4xl font-bold tracking-tight leading-none lg:text-5xl xl:text-6xl">
                <span class="md:block">Write and collaborate</span> <span class=md:block>on your <span class="text-sky-600">next piece</span></span>
            </h1>
            <p class="mt-6 text-xl text-gray-600">Write on our platform for maximum productivity</p>
        </div>
        <div class="basis-2/5">
            <div class="flex flex-col bg-sky-800 text-white p6 rounded-lg">
                <div class="p-6 lg:p-16">
                    <h1 class="text-xl md:text-2xl lg:text-3xl font-semibold">Create your account..</h1>
                    <div class="mt-6">
                        <form method="POST" class="space-y-6 mb-4">
                            {% csrf_token %}
                            <div class="flex flex-row items-center gap-6">
                                <div>
                                    <label class="sr-only" for="{{ form.first_name.id_for_label}}">First name</label>
                                    <div class="form-field">
                                        {% render_field form.first_name class="block text-black shadow-sm focus:ring-sky-600 focus:border-sky-600 text-sm border-gray-300" placeholder=form.first_name.label %}
                                    </div>
                                </div>
                                <div>
                                    <label class="sr-only" for="{{ form.last_name.id_for_label}}">Last name</label>
                                    <div class="form-field">
                                        {% render_field form.last_name class="block text-black shadow-sm focus:ring-sky-600 focus:border-sky-600 text-sm border-gray-300" placeholder=form.last_name.label %}
                                    </div>
                                </div>
                            </div>
                            {% if form.email.errors %}
                                <div class="error [&>ul]:space-y-2"> <!-- This element, direct children of type ul-->
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}
                            <div>
                                <label class="sr-only" for="{{ form.email.id_for_label}}">Email</label>
                                <div class="form-field">
                                    {% render_field form.email class="block text-black shadow-sm focus:ring-sky-600 focus:border-sky-600 text-sm border-gray-300" %}
                                </div>
                            </div>
                            {% if form.password1.errors %}
                                <div class="error [&>ul]:space-y-2"> <!-- This element, direct children of type ul-->
                                    {{ form.password1.errors }}
                                </div>
                            {% endif %}
                            <div class="space-y-2">
                                <label class="sr-only" for="{{ form.password1.id_for_label}}">Password</label>
                                <div class="form-field">
                                    {% render_field form.password1 class="block text-black shadow-sm focus:ring-sky-600 focus:border-sky-600 text-sm border-gray-300" %}
                                </div>
                                <details class="text-sm border border-sky-700 rounded-md [&_svg]:open:rotate-90">  <!-- Collapsable section for password requirements  -->
                                    <summary class="px-2 py-1 flex justify-between items-center list-none cursor-pointer bg-sky-700">
                                        <div>Password requirements</div>
                                        <span>{% include "svgs/chevron-down.svg" with class="w-5 h-5" %}</span>
                                    </summary>
                                    <div class="px-2 py-1 mt-2 min-w-full [&>ul]:space-y-1">
                                        {{ form.password1.help_text | safe }}
                                    </div>
                                </details>
                            </div>
                            {% if form.password2.errors %}
                                <div class="error [&>ul]:space-y-2"> <!-- This element, direct children of type ul-->
                                    {{ form.password2.errors }}
                                </div>
                            {% endif %}
                            <div>
                                <label class="sr-only" for="{{ form.password2.id_for_label}}">Password repeat</label>
                                <div class="form-field">
                                    {% render_field form.password2 class="block text-black shadow-sm focus:ring-sky-600 focus:border-sky-600 text-sm border-gray-300" %}
                                </div>
                            </div>
                            <div class="">
                                <p class="text-sm text-center">Already have an account? <a class="font-bold hover:underline" href="{% url 'account_login' %}">Sign in</a> instead</p>
                                <button type="submit" class="button primary w-full mt-2 text-sm">Create your account</button>
                            </div>
                        </form>
                        <div class=space-y-4>
                            {% if SOCIALACCOUNT_ENABLED %}
                                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="px-4 py-6 bg-sky-700 sm:px-10 rounded-b-lg">
                    <p class="text-xs leading-5">
                        By signing up, you agree to our <a href="#" class="font-medium hover:underline">Terms</a>, 
                        <a href="#" class="font-medium hover:underline">Data Policy</a> and 
                        <a href="#" class="font-medium hover:underline">Cookies Policy</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock base_content %}